<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>New message</h1>
        <form method="POST" action="/new">
            <label>Author's name: <input type="text" name="authorName"></label>
            <label>Message: <input type="text" name="message"></label>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>